[submodule "mt-software-de/stock-logistics-warehouse"]
	path = mt-software-de/stock-logistics-warehouse
	url = git@github.com:mt-software-de/stock-logistics-warehouse.git
	branch = 14.0-mig-stock_reserve

[submodule "Escodoo/purchase-workflow"]
	path = Escodoo/purchase-workflow
	url = git@github.com:Escodoo/purchase-workflow.git
	branch = 14.0-mig-purchase_default_terms_conditions

[submodule "jcoux/sale-workflow"]
	path = jcoux/sale-workflow
	url = git@github.com:jcoux/sale-workflow.git
	branch = 14.0_add_sale_order_html_sale_conditions
